parameters:

	scanDirectories: [ %moodle.rootDirectory% ]

	treatPhpDocTypesAsCertain: false

	bootstrapFiles:
		- bootstrap.php

	stubFiles:
		- stubs/globals.stub

	exceptions:
		uncheckedExceptionClasses:
			- moodle_exception

	ignoreErrors:
		-
			message: '#^Variable (\$ADMIN|\$CFG|\$settings) might not be defined\.$#'
			path: */settings.php
			reportUnmatched: false

		-
			message: '#^Variable (\$plugin|\$module) might not be defined\.$#'
			path: */version.php
			reportUnmatched: false

services:
	moodleRootManager:
		class: PhpstanMoodle\MoodleRootManager
		arguments:
			moodleRoot: %moodle.rootDirectory%

	-
		class: PhpstanMoodle\Type\GetAuthPluginTypeSpecifyingExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PhpstanMoodle\Type\EnrolGetPluginTypeSpecifyingExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

parametersSchema:
	moodle: structure([
		rootDirectory: string()
	])