parameters:
    level: 8

    paths:
        - src
        - tests
    excludePaths:
        - tests/data/*
        - tests/*/data/*
    scanFiles:
        - tests/data/lib/testing/generator/data_generator_fake.php